<div id="chart-ring-year" style="width:300px; height:300px">
  <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
      <a href="yearRingChart.filterAll();dc.redrawAll();">reset</a>
  </div>
</div>

<div id="chart-hist-spend" style="width:300px; height:300px">
  <div class="reset" style="visibility: hidden;">range: <span class="filter"></span>
      <a href="spendHistChart.filterAll();dc.redrawAll();">reset</a>
    </div>
</div>

<div id="chart-row-spenders" style="width:300px; height:300px">
    <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
      <a href="spenderRowChart.filterAll();dc.redrawAll();">reset</a>
    </div>
</div>

<!--<div id="chart-series" style="width:300px; height:300px">-->

<div id="test_composed" style="width:300px; height:300px">
  <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
      <a href="composite.filterAll();dc.redrawAll();">reset</a>
    </div>
</div>
